body{
    margin-left: 20px;
}


.chat{
    background-color: aliceblue;
    padding: 20;
    border-radius: 16px;
    display: inline-block;
}

.message{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
}


.links{
    height: 20px;
    width: 120px;
    display: flex;
    justify-content: space-between;
}