<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    
    <h3>User id: <%= user.id %></h3>
    <form action="/user/<%= user.id%>?_method=PATCH" method="post">
        <input type="password" name="password" placeholder="Enter your password">
        <textarea name="username" ><%= user.username %></textarea> <br>
        <textarea name="email" ><%= user.email %></textarea> <br>
        <button>submit</button>
    </form>
    
</body>
</html>