<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Chat</title>
</head>
<body>
    <div>
        <h3>Edit your Chat</h3>
        <p>This chat was sent from <%= chat.from %> to <%= chat.to %></p>
        <form action="/chats/<%=chat._id%>/?_method=PUT" method="post">
            <label for="msg">Message:</label><br>
            <textarea name="message" id="msg" placeholder="write your message here"  rows="20" cols="80"><%= chat.message %></textarea>
            <br>
            <button>Send</button>
        </form>
    </div>
</body>
</html>