<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show chat</title>
</head>

<body>
    <div>
        <h3>This is your chat id <%= chat._id %>
        </h3>
        <p>This chat was sent from <b>
                <%= chat.from %>
            </b> to <b>
                <%= chat.to %>
            </b></p>
        <label for="msg">Message:</label><br>
        <p>
            <b>
                <%= chat.message %>
            </b>
        </p>
        <br>
    </div>
    <a href="/chats">go back</a>
</body>

</html>